<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacje</title>
</head>
<body>
    Nazwisko: <b>{{username}}</b><br />
    Email: {{email}}<br />
    Wiek: {{age}}<br />
</body>
</html>